# Modern browsers only - removes legacy JS polyfills
# Last 2 versions of major browsers
last 2 versions

# Chrome, Firefox, Safari, Edge with >0.5% usage
> 0.5%

# Modern browsers that support ES2020+
not dead
not ie 11
not chrome < 90
not firefox < 88
not safari < 14
not edge < 90

# Mobile browsers with >0.5% usage
last 2 iOS major versions
last 2 Android major versions
